<div class="background">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="col center">
      <h2 class="hero-text">PHOTOGRAPHER</h2>
      <div class="row button-row">
        <button class="button">ENQUIRE NOW</button>
      </div>
      <div class="social-icons-container">
        <ul class="social-icons-list">
          <li class= "social-icons" *ngFor="let item of socialMedia">
            <a href="#">
              <ion-icon class="icon" name="logo-{{item}}"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-container">
    <ion-icon class="icon arrow-down-icon" name="ios-arrow-down" (click)="handleButtonPress('favouritesSection')"></ion-icon>
  </div>
</div>


