<div class="background" (click)="clearSelectedImage()">
  <div class="view-container" (click)="$event.stopPropagation()">
    <ion-icon *ngIf="!firstImage" class="icon arrow-back" name="ios-arrow-back" (click)="handleBackButton()"></ion-icon>
    <div class="image-container">
      <img class="image" src="{{image.mediaLink}}"/>
      <label class="image-number">{{imageIndex}}/{{totalImages}}</label>
    </div>
    <ion-icon *ngIf="!lastImage" class="icon arrow-forward" name="ios-arrow-forward" (click)="handleForwardButton()"></ion-icon>
  </div>
</div>
