.about-section {
  height: 90vh;
  background-color: #101010;
  background-size: cover;
  position: fixed;
  width: 100%;
  display: block;
}

.row {
  width: 70%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /*height: 10%;*/
  /* border: 1px solid red; */
  position: absolute;
  top: 45%;
  left: 15%;
}

.about-text {
  color: #f1f1f1;
  transition: 0.3s ease;
  font-size: 100%;
  text-align: center;
  letter-spacing: 1px;
  line-height: 150%;
  /*text-transform: uppercase;*/
}

app-footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

@media screen and (max-width: 1060px) {
  .row {
    top: 40%;
  }
}

@media screen and (max-width: 690px) {
  .row {
    top: 35%;
  }
}
