<div class="about-section">
<!--  <app-nav-bar></app-nav-bar>-->
  <div class="row">
    <p class="about-text">
      Andrew J Fei is a Auckland based Photographer from New Zealand. Currently still in tertiary education, Andrew is
      studying software engineering at the University of Auckland. Despite having no formal training in the field,
      photography is a passion that Andrew has found throughout the years. Andrew initially found an interest in
      photography, shooting the beautiful landscapes around his home country. He loved the idea of being able to travel
      while also capturing the moments in time that words could not describe. Still being allured to the outdoors,
      Andrew however now mainly focuses on creative photography.
    </p>
  </div>
</div>
<app-footer></app-footer>
