<div class="background">
  <app-nav-bar></app-nav-bar>
  <div class="row">
    <div class="button-container">
      <button class="gallery-button {{isPersonalOpen ? 'selected' : ''}}" type="button" (click)="handlePersonalButton()">
        PERSONAL
      </button>
      <button class="gallery-button {{!isPersonalOpen ? 'selected' : ''}}" type="button" (click)="handleEventsButton()">
        EVENTS
      </button>
    </div>
  </div>
  <app-personal></app-personal>
<!--  <app-events></app-events>-->
  <app-footer></app-footer>
</div>
