<ngx-masonry
  class="masonry-container"
  [useImagesLoaded]="true"
  [options]="{
  transitionDuration: '0.8s',
  horizontalOrder: 'true'
  }">
  <div ngxMasonryItem class="masonry-item" *ngFor="let image of images, let i = index">
    <div class="img-container">
      <img class="masonry-image" src="{{image.mediaLink}}" (click)="handleImageClick(i)"/>
    </div>
  </div>
</ngx-masonry>
<app-image-view
  *ngIf="selectedImage !== null"
  [image]="images[selectedImage]"
  [firstImage]="firstImage"
  [lastImage]="lastImage"
  [imageIndex]="selectedImage + 1"
  [totalImages]="images.length"
  (imageChange)="handleImageChange()"
  (nextImage)="nextImage()"
  (previousImage)="previousImage()"
  (clearSelected)="clearSelectedImage()"
></app-image-view>
