/*.background {*/
/*  height: 80vh;*/
/*}*/

.row {
  /*border: solid red 1px;*/
  width: 80%;
  text-align: center;
  display: inline-flex;
  justify-content: space-evenly;
  margin: 300px 0px 300px 10%;
}

.button {
  display: inline-block;
}
