/* ----------------------------------------- NAV BAR ----------------------------------------- */

/*.nav-bar-container {*/
/*  height: 100px;*/
/*  !*border: 1px solid red;*!*/
/*}*/

/*
This class makes sure that the title is in the center and that the nav bar has from the top
of the screen.
*/
.nav-bar {
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 30px 0;
  z-index: 10;
  transition: 1.0s ease;
  /*border: 1px solid red;*/
}

/* ----------------------------------------- STICKY NAV BAR ----------------------------------------- */

.sticky-nav-bar {
  background-color: black;
  /*padding-top: 100px;*/
  position: fixed;
  width: 100%;
  padding: 10px 0;
}

/* --------------------------------------- NAV BAR LIST --------------------------------------- */

.nav-bar-list-container {
  display: inline-block;
  position: absolute;
  left: 0;
  margin-bottom: 0;
  margin-top: 7px;
}

/*
Make sure that the list of navigation links are on the left of the nav bar and not the center.
*/
.nav-bar-list {
  /*display: inline-block;*/
  /*position: absolute;*/
  /*left: 0;*/
  /*margin-bottom: 0;*/
  /*margin-top: 7px;*/
  /*border: 1px solid red;*/
}

/*
Every list item should be inline with margin on both sides.
*/
.nav-bar-item {
  display: inline-block;
  color: #f1f1f1;
  margin: 0px 5px;
}

.nav-bar-item > a {
  color: #f1f1f1;
  text-decoration: none;
}

.nav-bar-item > a > h3 {
  font-size: 100%;
  font-weight: normal;
  letter-spacing: 2px;
  opacity: 0.5;
  transition: 0.5s ease;
}

.nav-bar-item > a > h3:hover {
  opacity: 1.0;
  cursor: pointer;
}

.selected {
  opacity: 1.0 !important;
}

/*
This class refers to the dot symbol in between the navigation links.
*/
.middot {
  font-size: 150%;
  /*border: 1px solid red;*/
  vertical-align: middle;
}

.middot:hover {
  cursor: default;
  opacity: 0.5;
}

.menu-button {
  display: none;
  position: absolute;
  left: 0;
  margin-left: 40px;
  margin-top: 5px;
  background-color: transparent;
  padding: 0;
  border: none;
  z-index: 10;
}

.menu-button:focus {
  outline: none;
}

.menu-icon {
  color: #f1f1f1;
  font-size: 250%;
  opacity: 0.5;
  transition: 0.3s ease;
}

.menu-icon:hover {
  opacity: 1.0;
}

/* --------------------------------------- NAV BAR TITLE -------------------------------------- */

.brand-name {
  display: inline-block;
  color: #f1f1f1;
  text-decoration: none;
  margin-top: 5px;
}

.brand-name:hover {
  cursor: pointer;
  border: none;
  text-underline: none;
}

.brand-name > h1 {
  font-weight: 400;
  font-size: 200%;
  letter-spacing: 4px;
  /*border: 1px red solid;*/
}

/* Media Queries: Tablet Landscape / Small Windowed Web Screen */
@media screen and (max-width: 1385px) {
  .nav-bar-item {
    margin: 0px 3px;
  }
}

@media screen and (max-width: 1060px) {
  .nav-bar-list-container {
    width: 100%;
    height: 100vh;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    margin: 0;
    top:0px;
    left:0px;
    visibility: hidden;
    position: fixed;
    transition: 0.3s ease;
  }

  .nav-bar-open {
    visibility: visible;
    background: #000000;
  }

  .nav-bar-list {
    display: none;
    /*border: 1px solid red;*/
    padding: 0;
  }

  .nav-bar-item {
    display: block;
    text-align: center;
    padding: 8px 0px;
  }

  .nav-bar-item > a > h3 {
    font-size: 150%;
  }

  .middot {
    display: none;
  }

  .menu-button {
    display: inline-block;
  }

  .brand-name {
    display: block;
  }
}

@media screen and (max-width: 690px) {
}

@media screen and (max-width: 550px) {
  .menu-button {
    margin-left: 20px;
  }

  .menu-button {
    margin-top: 3px;
  }

  .nav-bar-item > a > h3 {
    font-weight: 500;
  }

  .brand-name > h1 {
    font-weight: 400;
    font-size: 200%;
    letter-spacing: 2px;
    /*border: 1px red solid;*/
  }
}
