.masonry-container {
  margin: 10px;
}

.masonry-item {
  width: 20%;
  padding: 10px;
}

.img-container {
  overflow: hidden;
}

.masonry-image {
  width: 100%;
  transition: 0.5s ease;
  user-select: none;
}

.masonry-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media screen and (max-width: 1060px) {
  .masonry-item {
    width: 33.3%;
  }
}


