.masonry-container {
  margin: 10px;
}

.masonry-item {
  width: 20%;
  padding: 10px;
  user-select: none;
}

.img-container {
  overflow: hidden;
  user-select: none;
}

.masonry-image {
  width: 100%;
  transition: 0.5s ease;
  user-select: none;
  /*animation: fadein 2.0s;*/
}

.masonry-image:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/*@keyframes fadein {*/
/*  from { opacity: 0; }*/
/*  to   { opacity: 1; }*/
/*}*/

@media screen and (max-width: 1060px) {
  .masonry-item {
    width: 33.3%;
  }
}

@media screen and (max-width: 690px) {
  .masonry-item {
    width: 100%;
  }

  .masonry-image:hover {
    cursor: default;
    transform: none;
  }
}


