<!--<ng-masonry-grid-->
<!--  class="grid-container"-->
<!--  [masonryOptions]="{-->
<!--      transitionDuration: '0.8s',-->
<!--      horizontalOrder: true,-->
<!--      percentPosition: true-->
<!--    }"-->
<!--&gt;-->
<!--  <ng-masonry-grid-item class="grid-item" *ngFor="let img of images, let i = index">-->
<!--    <img src="{{img.url}}">-->
<!--  </ng-masonry-grid-item>-->
<!--</ng-masonry-grid>-->
<!--  <div class="img-pop-up-background">-->
<!--    <div class="img-pop-up-container">-->
<!--      <ion-icon class="icon" name="ios-arrow-back" ></ion-icon>-->
<!--      <img class="img-pop-up" src="{{selectedImage.url}}">-->
<!--      <ion-icon class="icon" name="ios-arrow-forward" ></ion-icon>-->
<!--    </div>-->
<!--  </div>-->
