.container {
  /*border: 1px solid red;*/
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.heading-title {
  color: rgba(241, 241, 241, 0.81);
  font-weight: 300;
}

.heading-title:before,
.heading-title:after {
  background-color: rgba(241, 241, 241, 0.81);
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 20%;
}

.heading-title:before {
  right: 2.0em;
  margin-left: -50%;
}

.heading-title:after {
  left: 2.0em;
  margin-right: -50%;
}
