/* ----------------------------------------- HEADER ----------------------------------------- */

.background {
  height: 100vh;
  background: black;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../../../assets/images/mercer-bay-loop.jpg');
  background-size: cover;
  position: relative;
  /*background-position: 0px -50px;*/
}

.center {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 80%;
}

/* ----------------------------------------- HERO TEXT ----------------------------------------- */

.hero-text {
  color: #f1f1f1;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: 20px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 1.5rem;
}

.hero-text:before,
.hero-text:after {
  background-color: #f1f1f1;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 5%;
}

.hero-text:before {
  right: 0.5em;
  margin-left: -50%;
}

.hero-text:after {
  left: 0.5em;
  margin-right: -50%;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.social-icons-container {
  text-align: center;
  width: 100%;
}

.social-icons-list {
  display: inline-flex;
  justify-content: space-between;
  /*border: solid 1px red;*/
  padding: 0;
  margin: 0;
  width: 130px;
  /*left: 40%;*/
  position: relative;
}

.social-icons {
  display: inline-block;
  text-decoration: none;
  padding: 0px 5px;
}

.icon {
  color: #f1f1f1;
  opacity: 60%;
  font-size: 30px;
  transition: 0.5s ease;
  cursor: pointer;
}

.icon:hover {
  opacity: 100%;
}

.bottom-container {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

/* Media Queries: Tablet Landscape / Small Windowed Web Screen */
@media screen and (max-width: 1385px) {
  .background {
    height: 60vh;
    background-position: 0px -50px;
  }

  .social-icons-list {
    width: 120px;
    /*width: 28%;*/
    /*left: 36%;*/
  }

  .icon {
    font-size: 25px;
  }

  .arrow-down-icon {
    display: none !important;
  }
}

@media screen and (max-width: 1060px) {
  .background {
    background-size: 150%;
    background-position: center;
  }

  .hero-text {
    margin-bottom: 1.0rem;
  }

  .button-row {
    margin-bottom: 1.0rem;
  }

  .social-icons-list {
    /*width: 32%;*/
    /*left: 34%;*/
  }
}

@media screen and (max-width: 690px) {
  .hero-text {
    font-size: 90%;
  }

  .social-icons-list {
    width: 100px;
  }

  .icon {
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .background {
    background-size: 250%;
    background-position: center;
  }

  .hero-text {
    font-size: 70%;
    margin-bottom: 0.8rem;
  }

  .button-row {
    margin-bottom: 0.8rem;
  }
}
