/* You can add global styles to this file, and also import other style files */

/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

/* Icon Import */
@import "~@ionic/angular/css/core.css";

*, html, body {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  border: solid 2px #f1f1f1;
  background-color: transparent;
  color: #f1f1f1;
  padding: 10px 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 90%;
  transition: 0.3s ease;
}

.button:hover {
  /*background-color: #9f811d;*/
  /*border-color: #9f811d;*/
  background-color: #f1f1f1;
  color: #101010;
}

.button:focus {
  outline: none;
}

/* Media Queries: Tablet Landscape / Small Windowed Web Screen */
@media screen and (max-width: 1385px) {
  .button {
    font-size: 80% !important;
  }
}

@media screen and (max-width: 690px) {
  .button {
    font-size: 60% !important;
    font-weight: 500 !important;
    border-width: 1.5px !important;
  }
}

@media screen and (max-width: 550px) {
  .button {
    font-size: 50% !important;
    font-weight: 500 !important;
    padding: 8px 14px !important;
    border-width: 1.0px !important;
  }
}
