/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900&display=swap');

@import "~@ionic/angular/css/core.css";

*, html, body {
  font-family: 'Raleway', sans-serif;
}

.button-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  border: solid 2px #f1f1f1;
  background-color: transparent;
  color: #f1f1f1;
  padding: 10px 20px;
  font-weight: 400;
  letter-spacing: 2px;
  font-size: 90%;
  transition: 0.3s ease;
}

.button:hover {
  background-color: #9f811d;
  border-color: #9f811d;
}
