<div cdkDropList class="image-list" (cdkDropListDropped)="drop($event)">
  <div class="image-text" *ngFor="let image of images" cdkDrag>
    {{image}}
    <img  class="preview-image" *cdkDragPreview [src]="image" [alt]="image">
  </div>
</div>
<app-upload-files [isPersonal]="true"></app-upload-files>
<!--<div class="grid-container">-->
<!--  <a class="grid-item" href="#" *ngFor="let img of images">-->
<!--    <img services="{{img.url}}">-->
<!--    <div class="hover-info">-->
<!--      <div class="info">-->
<!--        <h2 class="name">{{img.name.toUpperCase()}}</h2>-->
<!--        <label class="country-label">{{img.country.toUpperCase()}}</label>-->
<!--      </div>-->
<!--    </div>-->
<!--  </a>-->
<!--</div>-->
