<div class="background">
  <app-admin-nav-bar [navBarStatus]="false"></app-admin-nav-bar>
  <div class="form-container">
    <h2 class="heading">AUTHENTICATION LOGIN</h2>
    <form class="authenticate-form">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="USERNAME" (change)="handleUsernameChange($event)">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="PASSWORD" (change)="handlePasswordChange($event)">
      </div>
      <button type="button" class="button" (click)="this.authenticate()">
        LOGIN
      </button>
    </form>
  </div>
</div>
